<p>
  <span>当前位置：</span>

  {%- if page.url == '/' -%}
    <span>首页</span>
  {%- else -%}

    {%- if page.url contains 'quotes' -%}

      {%- if page.url == '/quotes/' -%}
        <span>首页</span>
        <span>/</span>
        <span>摘经</span>
      {%- else -%}
        <span>首页</span>
        <span>/</span>
        <span>摘经</span>
        <span>/</span>
        <span>{{ page.title }}</span>
      {%- endif -%}

    {%- else -%}
      <span>首页</span>
      <span>/</span>
      <span>佛经</span>
      <span>/</span>
      <span>{{ page.title }}</span>
    {%- endif -%}

  {%- endif -%}
</p>