<p>
  <span>当前位置：</span>

  {%- if page.url == '/' -%}
    <span>首页</span>
  {%- endif -%}

  {%- if page.url contains 'quotes' -%}

    {%- if page.url == 'quotes/' -%}
      <a href="{{ '/' | relative_url }}">首页</a>
      <span>/</span>
      <span>摘经</span>
    {%- else -%}
      <a href="{{ '/' | relative_url }}">首页</a>
      <span>/</span>
      <a href="/quotes/">摘经</a>
      <span>/</span>
      <span>{{ page.title }}</span>
    {%- endif -%}

  {%- else -%}
    <a href="{{ '/' | relative_url }}">首页</a>
    <span>/</span>
    <span>{{ page.title }}</span>
  {%- endif -%}
</p>