<div style="padding: 1px 0; background-color: beige;">
      <div class="container" style="padding: 0 8px;">
        <p>略说大乘信根门</p>
        <p>悟文</p>
        <p>众生即心，是心即佛；<br>
心佛众生，三无差别。<br>
心有二义，一体二用；<br>
体者真实，用则如幻。<br>
真实不识，识者非实；<br>
幻虽体生，体不染幻。<br>
体可名称，见即无相；<br>
用则无边，万法无量。<br>
用有二门，一智二识；<br>
智是般若，识则烦恼。<br>
智慧门转，诸佛菩萨；<br>
诸识门转，一切众生。<br>
般若门里，万法皆空；<br>
烦恼门里，万象森罗。<br>
二门有异，一如成异；<br>
二门无异，真性同一。<br>
识性为真，般若智生；<br>
识性非真，诸识习生。<br>
一切众生，真性假用；<br>
诸佛菩萨，除假用真。<br>
假不同真，如波异水；<br>
假即同真，如波即水。<br>
假能覆真，真则覆假；<br>
暗夜昼日，不二并存。<br>
假由真转，真由假转；<br>
二者中间，转处幽玄。<br>
心转假用，生死涅槃；<br>
心转真用，一种无异。<br>
只这一心，众生所遗；<br>
大藏明珠，悟者方知。</p>
      </div>
    </div>

    {%- comment -%}{%- include utterances.html -%}{%- endcomment -%}