---
# Only the main Sass file needs front matter (the dashes are enough)
---

*,
::before,
::after {
  box-sizing: border-box;
}

html,body {
  overscroll-behavior: none;
}

body {
  font-size: 0.9em;
  letter-spacing: 0.125em;
  font-family: SimSun, "Songti SC", "Songti TC", MingLiU, FangSong, STFangSong, serif;
  margin: 0;
  background-color: white;
  @media (max-width: 767.98px) {
  }
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol,
blockquote,
figure,
dd {
  margin: .65em 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  color: blue;
  // text-decoration-thickness: from-font;
  &:hover, &:visited, &:active, &:focus {
    color: blue;
  }
}

.container {
  padding: 5px 8px;
}

.header {
  background-color: aliceblue;
  position: relative;
  z-index: 9999;
  .container {
    display: flex;
    gap: 5px;
  }
}

.content {
  background-color: white;
}

.footer {
  padding-bottom: 5px;
  background-color: white;
}

.breadcrumb {
  display: flex;
  gap: 0;
}

.highlights-list {
  // padding-left: 1em;
  // list-style: circle;
}

.ming {
  padding: 1px 0;
  background-color: gainsboro;
  .container {
    padding: 0 8px;
  }
}