---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  font-family: SimSun, MingLiU, "Songti SC", "Songti TC", FangSong, STFangSong, serif;
  letter-spacing: 0.15em;
  line-height: 1.25;
}

a {
  color: blue;
  text-decoration-thickness: from-font;
  &:hover, &:visited, &:active, &:focus {
    color: blue;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
