---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  font-family: "宋体", "宋體", "仿宋", "仿宋體", san-serif;
  letter-spacing: 0.165em;
  line-height: 1.25;
}

a {
  color: blue;
  &:hover, &:visited, &:active {
    color: blue;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
